@import './fonts.css';
@import './variables.css';

[v-cloak] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

ul li {
  list-style: none;
}
